{% extends 'course_management/administration/admin_home.html' %}
{% load crispy_forms_tags %}


{% block homecontent %}
<div class="container">
    <h2 style="padding-left: 2rem;">Add Teacher</h2>
    
    <form action="" method="POST" style="padding: 2rem; padding-top: 1rem;">
        {% csrf_token %}
        
        


        {{user_form|crispy}}
        {{form|crispy}}
        {{password_form|crispy}}
        

        <div style="display: flex; justify-content: center; align-items: center; padding-top: 2rem;">
            <button type="submit" class="btn btn-outline-dark">
                Save
            </button>
        </div>
    </form>
</div>

{% endblock %}