{% extends 'course_management/administration/admin_home.html' %}
{% load crispy_forms_tags %}

{% block homecontent %}

<div class="container">
    <h2 style="padding-left: 2rem;">Edit Class</h2>

    <form action="" method="POST" style="padding: 2rem; padding-top: 1rem;">
        {% csrf_token %}

        {{form|crispy}}

        <div style="display: flex; justify-content: center; align-items: center; padding-top: 2rem;">
            <button type="submit" class="btn btn-outline-dark">
                <i class="bi bi-check-lg"></i>
                Edit
            </button>
        </div>
    </form>
</div>


{% endblock %}