{% extends 'course_management/base.html' %}
{% block title%}
<title>Entry</title>
{% endblock%}


{% block content%}
<div  style="background-color: #081b2f94; padding-left: 5rem; padding-right: 5rem; padding-bottom: 15rem;">

    <div class="row" style="display: flex;background-color: #121e2d; border-radius: 3mm;">
        <div class="col-1 m-1">
            <img src="https://obs.samsun.edu.tr/gen_imgs/uni_logo.gif"
            style="height:75px;width:75px;">
        </div>
        <div class="col" style="align-items: center; padding-top: 5mm;">
            <h3 style="vertical-align: inherit; color: whitesmoke;">Samsun University</h3>
        </div>
        <div class="col" style="color: white; padding-left: 30rem; padding-top: 7mm;">
            Course Management System
        </div>
       
    </div>

    <div class="list-group" style="padding-left: 20rem; padding-right: 20rem; margin-top: 5rem; border-radius: 1rem;">
        <a href="#" class="list-group-item list-group-item-action active" style="background-color: rgba(0, 0, 255, 0.352);" aria-current="true">
          Student / Academic Personal
        </a>
        <a href="{% url 'user-login' %}"  class="btn btn-outline-primary" style="border-radius: 0%;color: white;">Student Login</a>
        <a href="{% url 'user-login' %}" class="btn btn-outline-primary" style="border-radius: 0%; color: white;">Personal Login</a>
      </div>
</div>
{%endblock%}